<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://bootswatch.com/3/cyborg/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
    <link rel="stylesheet" href="/css/main.css">

    <title>About</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand" href="#">WEB322 - Matthew Robinson</span>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/blog">Blog</a></li>
                    <li class="active"><a href="/about">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
<li><a href="/posts/add">Add Post</a></li>
                    <li><a href="/posts">Posts</a></li>
                    <li><a href="/categories">Categories</a></li>            
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="padding-top:60px">
        <div class="row">
            <section class="main col-md-9">
                <article>
                    <h2>About</h2>
                    <p>Hello, my name is Matthew Robinson. I am currently in the second year of BSD - Software Development degree.</p>
                    <p>at Seneca.My hobbies include gaming , playing football and tutoring other students I don't currently know where I wanna work as my</p>
                    <p> initally plan for post secondary was to be in Engineering.But, I wouldn't mind working a job in either of those fields. </p>
                    <p> No matter what job I work one this is that my goal is to give my family a very comfortable lifestyle.</p>
                </article>
            </section>
            <aside class="col-md-3">
                <h2>Coming Soon</h2>
                <p>The website will be working soon and you will be able to access everything as promised.</p>
            </aside>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</body>
</html>
